<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('images/contact-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1>Contact Me</h1>
                    <hr class="small">
                    <span class="subheading">Have questions? I have answers (maybe).</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <p>Want to get in touch with me? Fill out the form below to send me a message and I will try to get back to you within 24 hours!</p>
            <!-- Contact Form - Enter your email address on line 19 of the mail/contact_me.php file to make this form work. -->
            <!-- WARNING: Some web hosts do not allow emails to be sent through forms to common mail hosts like Gmail or Yahoo. It's recommended that you use a private domain email address! -->
            <!-- NOTE: To use the contact form, your site must be on a live web host with PHP! The form will not work locally! -->
            <form name="contactForm" id="contactForm" ng-submit="feedback()" novalidate>
                <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label>Name</label>
                        <input type="text" class="form-control" ng-model="name" name="name" placeholder="Name" id="name" required data-validation-required-message="Please enter your name.">
                        <p class="help-block text-danger">
                            <div ng-show="contactForm.$submitted || contactForm.name.$touched">
                                <span ng-show="contactForm.name.$error.required">Please enter your name.</span>
                            </div>
                        </p>
                    </div>
                </div>

                <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label>Email Address</label>
                        <input type="email" class="form-control" ng-model="email" name="email" placeholder="Email Address" id="email" required data-validation-required-message="Please enter your email address.">
                        <p class="help-block text-danger">
                            <div ng-show="contactForm.$submitted || contactForm.email.$touched">
                                <span ng-show="contactForm.email.$error.required">Please enter your email address.</span>
                                <span ng-show="contactForm.email.$error.email">This is not a valid email.</span>
                            </div>
                        </p>
                    </div>
                </div>
                <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label>Phone Number</label>
                        <input type="text" class="form-control" ng-model="phone" ng-pattern="/[2-9]{2}\d{8}/" name="phone" placeholder="Phone Number" id="phone" required data-validation-required-message="Please enter your phone number.">
                        <p class="help-block text-danger">
                            <div ng-show="contactForm.$submitted || contactForm.phone.$touched">
                                <span ng-show="contactForm.phone.$error.required">Please enter your phone number.</span>
                                <span ng-show="contactForm.phone.$error.pattern">This is not a valid phone number.</span>
                            </div>
                        </p>
                    </div>
                </div>
                <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label>Message</label>
                        <textarea rows="5" class="form-control" ng-model="message" name="message"  placeholder="Message" id="message" required data-validation-required-message="Please enter a message."></textarea>
                        <p class="help-block text-danger">
                            <div ng-show="contactForm.$submitted || contactForm.message.$touched">
                                <span ng-show="contactForm.message.$error.required">Please write a message.</span>
                            </div>
                        </p>
                    </div>
                </div>
                <br>
                <div id="success"></div>
                <div class="row">
                    <div class="form-group col-xs-12">
                        <button type="submit" class="btn btn-default">Send</button>
                    </div>
                </div>
                <div class="row">
                    <div ng-show="feedbackHistory" class="col-xs-12">
                        Your previous feedback
                        <div>Name: {{ feedbackHistory.name }}</div>
                        <dive>Email: {{ feedbackHistory.email }}</dive>
                        <div>Phone no.: {{ feedbackHistory.phone }}</div>
                        <div>Message: {{ feedbackHistory.message }}</div>
                    </div>
                    <div ng-show="!feedbackHistory" class="col-xs-12">
                        No previous feedback.
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>